* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --borderThick: 0.3vh;
    --bacColor1: #78517d;
    --bacColor1Ghost: #dab4e0;
    --bacColor2: rgb(245, 245, 245);
    --highlightColor1: #55d6ff;
    --ghostColor: rgba(0, 0, 0, 0.05);
    --ghostColor2: rgba(0, 0, 0, 0.4);
}

.container {
    font-size: 16px;
    margin-top: 10vh;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

/* Nav Section */

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;

    background: #222;
    border-bottom: 3px solid var(--highlightColor1);
}

nav {
    display:flex;
    justify-content: center;
}

#navLeft {
    padding-left: 1.2vw;
}

#navRight {
    padding-right: 1.2vw;
}

nav a {
    text-decoration: none;
    color: #fff;

    display: flex;
    align-items: center;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

#navName {
    font-size: 4.1vh;
}

#homeButton {
    display: none;
}

#navRight a {
    font-size: 3.5vh;
}

#linkedInCircle div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.3vh;
    width: 5.3vh;
    border: var(--borderThick) solid #fff;
    border-radius: 5.3vh;
    transition: 0.2s;
}

#linkedInCircle div img{
    height: 2.9vh;
    width: 2.9vh;
}

#linkedInCircle:hover div {
    background-color: #0076bf;
    border-radius: 1vh;
}

.navText div {
    padding: 2vh 0;
    border-top: var(--borderThick) solid transparent;
    border-bottom: var(--borderThick)  solid transparent;
    transition: 0.2s;
}

.navText:hover div {
    padding: 0 0;
    color: var(--highlightColor1);
    border-bottom: var(--borderThick) solid var(--highlightColor1);
}

/* Header Section */

header {
	background: var(--bacColor1);
	height: 90vh;
	width: 100vw;
	color: var(--bacColor2);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

header img {
    height: 45vh;
}

h1 {
    font-size: 6vh;
    color: var(--bacColor2);
    margin: 1vh 0;
}

/* General Settings */

h2 {
    text-align: center;
    font-size: 4.8vh;
    margin: 1vh 0;
}

h3 {
    text-align: center;
    vertical-align: text-top;
    font-size: 4.1vh;
}

p {
    margin: 0 0 1rem;
}

.lightLine {
    height: 0.6vh;
    width: 43vh;
    background-color: var(--bacColor2);
    margin: 1vh 0;
}

.darkLine {
    height: 0.6vh;
    width: 43vh;
    background-color: var(--bacColor1);
    margin: 1vh 0;
}

header span {
    font-size: 4.1vh;
    margin: 1vh 0;
}

main section:nth-child(odd) {
	background: var(--bacColor2);
}

main section:nth-child(odd) h2, main section:nth-child(odd) h3{
	color: var(--bacColor1);
}

main section:nth-child(even) {
	background: var(--bacColor1);
}

main section:nth-child(even) h2, main section:nth-child(even) h3{
	color: var(--bacColor2);
}

section {
    width: 100vw;
    min-height: 60vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-size: 3.6vh;
}

section > * {
    max-width: 136vh;
    width: 80%;
	margin: 0 auto;
}

section ul {
    padding-left: 1em;
}

/* About Me Section */

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMeGrid {
    display: grid;
    margin: 3vh 0;
    grid-column-gap: 2.5vw;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 7fr 4fr;
    grid-template-columns: 1fr 48vh;
}

#bioInfo, #skills {
    background-color: var(--ghostColor);
    border-radius: 1.8vh;
    padding: 2vh 2vw;
}

#bioInfo {
    grid-row-start: 1;
    grid-row-end: 3;
}

#skills {
    display:flex;
    justify-content: center;
    padding-bottom: 3vh;
}

#learnMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#learnMoreButton div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 3vh;
    background: var(--bacColor1Ghost);
    border: 0;
    border-radius: 1.8vh;
    transition: 0.2s;
    cursor: pointer;
    color: #000;
    font-size: 3.5vh;
}

#learnMoreButton div:hover {
    color: #fff;
    background: var(--bacColor1);
}

/* Projects Section */

#myProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    display: grid;
    margin: 3vh 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 3vh;
    grid-row-gap: 3vh;
}

#projects div {
	display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--ghostColor2);
    border-radius: 1.8vh;
    padding: 2vh 3vh;
}

#projects div img {
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    width: 100%;
    border: var(--borderThick) solid #222;
    border-radius: 1.8vh;
}

#projects div h3 {
    font-size: 3.7vh;
}

.projTitle {
    font-size: 3.7vh;
    color: var(--bacColor2);
}

.projText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.projText p {
    color: var(--bacColor2);
    font-size: 2.7vh;
}

.gitHubButton, .showDetails {
    padding: 1vh 2vh;
    background: var(--bacColor1Ghost);
    border: 0;
    border-radius: 1.8vh;
    transition: 0.2s;
    cursor: pointer;
    color: #000;
    font-size: 3vh;
    text-decoration: none;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.showDetails {
    display: none;
}

.gitHubButton:hover, .showDetails:hover {
    color: #fff;
    background: var(--bacColor1);
}

/* Photos Section */

#myPhotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow-container {
    position: relative;
    max-width: 90vh;
    width: 80%;
    margin-top: 3vh;
}

.slideshow-container img {
    width: 100%;
}

.mySlides {
    display: none;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    }

#prev {
    left: 0;
    border-radius: 0 1.8vh 1.8vh 0;
}

#next {
    right: 0;
    border-radius: 1.8vh 0 0 1.8vh;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000, -2px -2px 4px #000;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#dotBox {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

/* Contact Me Section */

#contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactGrid {
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ghostColor2);
    border-radius: 1.8vh;
    padding: 3vh 3vh;
}

#contactGrid span {
    color: var(--bacColor2);
    text-align: center;
}

#contactGrid a {
    text-decoration: none;
}

#contactGrid * {
    margin: 0.5vh 0;
}

#linkedInCircle2 div{
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.6vh;
    width: 5.6vh;
    background-color: var(--ghostColor2);
    border: var(--borderThick) solid #fff;
    border-radius: 5.6vh;
    transition: 0.2s;
}

#linkedInCircle2 div img{
    height: 2.9vh;
    width: 2.9vh;
}

#linkedInCircle2:hover div {
    background-color: #0076bf;
    border-radius: 1vh;
}

/* Footer Section */

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bacColor2);
    background: #222;
    border-top: 3px solid var(--highlightColor1);
}

/* Modal Section */

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-open #backdrop {
    display: flex;
}

#modal {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background: var(--bacColor2);
    padding: 3vh 3vh;
    border-radius: 1.8vh;
    box-shadow: 0 0 5px 5px #333;
}

#modalTitle {
    display: flex;
    justify-content: space-between;
}

#modalTitle h4 {
    font-size: 2.8vh;
}

#modalTitle button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bacColor1Ghost);
    padding: 1vh 2vh;
    border: 0;
    border-radius: 1vh;
    transition: 0.2s;
    cursor: pointer;
}


#modalTitle a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bacColor1Ghost);
    padding: 1vh 2vh;
    border: 0;
    border-radius: 1vh;
    transition: 0.2s;
    cursor: pointer;
}

#modal a:hover {
    color: #fff;
    background: var(--bacColor1);
}

#modal-content {
    font-size: 2.8vh;
    margin-top: 2vh;
    height: 100%;
    overflow-y: auto;
}

#modal #modal-content {
    clear: both;
}

/* Media Screen Section */

@media screen and (max-width: 950px) {

    #navRight {
        display: block;
        padding-right: 0;
    }

    #navRight a {
        display: none;
        background-color: #222;
        border-bottom: 3px solid var(--highlightColor1);
    }

    #navRight::before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: 'SHOW MENU';
        color: #fff;
        font-size: 3.5vh;
        height: 100%;
        background: #222;
        padding-left: 2vw;
        padding-right: 2vw;
        cursor: pointer;
    }
    
    #navRight::before:hover {
        background: yellow;
        color: var(--highlightColor1);
    }

    #navRight.open::before {
        content: 'HIDE MENU';
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }

    #navRight.open a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        background: #000;
    }

    #navRight ::selection {
        color: inherit;
        background: transparent;
    }

    #navRight .navText div {
        padding: 0 0;
        border-top: none;
        border-bottom: none;
    }
    
    #navRight .navText:hover div {
        padding: 0 0;
    }

}

@media screen and (max-width: 909px) {

    #aboutMeGrid {
        grid-template-columns: 1fr;
        grid-row-gap: 2.5vw;
        grid-template-rows: auto;
        max-width: 96vh;
        width: 80%;
    }

    #skills ul{
        padding-right: 2vh;
        padding-left: 5vh;
    }

    #bioInfo, #skillsBox {
        font-size: 3vh;
    }

    #bioInfo {
        padding-left: 3vh;
        padding-right: 3vh;
    }
}

@media screen and (max-width: 939px) {

    #projects {
        grid-template-columns: 1fr;
        max-width: 96vh;
        width: 80%;
    }

    .projText p {
        display: none;
    }

    .projText.expanded p {
        display: block;
    }

    .showDetails {
        display: block;
    }

    .gitHubButton {
        display: none;
    }

}

@media screen and (max-width: 528px) {

    #myName {
        display: none;
    }

    #homeButton {
        display: block;
    }

    h1 {
        font-size: 7.5vw;
    }

    header span {
        font-size: 5.1vw;
    }

    header img {
        height: 56vw;
    }

    .lightLine {
        width: 54vw;
    }
    
    .darkLine {
        width: 54vw;
    }

}

@media screen and (max-width: 492px) {

    #contactGrid span {
        font-size: 4.8vw;
    }

    #contactGrid h3 {
        font-size: 5.5vw;
    }

}